body{
    background-image: url(background.jpg);
    color: white;
    
}
h1 {
    color:blue;
    
  }
  a:link {
    color: red;
  }
  

  /* mouse over link */
  a:hover {
    color: rgb(105, 255, 185);
  }
  
  
  p {
    font-family:Verdana;
    font-size: 13px;
    list-style-type: lower-latin;
  }
  #About,#quar,#demo,#Movie,#favo,#mud::first-letter{
       font-size: 1.5em;
  }
 
  h1,h3{
      color: blueviolet;
      }
  strong,dt{
      color: yellow;
  }
  
  #favo1,#favo2,#favo3{
    color:rgb(247, 152, 11);
}
a{
    color:red;
}