body{
    background-image: url(background.jpg);
    color: white;
    
}
h1 {
    color:blue;
    
  }
  a:link {
    color: red;
  }
  
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  
  p {
    font-family:Verdana;
    font-size: 13px;
    list-style-type: lower-latin;
  }
 
  h1,h3{
      color: blueviolet;
      
  }
  .highLight{
      color: yellow;
  }
  a.
  #favo1,#favo2,#favo3{
    color:rgb(247, 152, 11);
}
a{
    color:red;
}